.search_field input[type='text'] {
  border: solid 1px rgba(189, 189, 189, 0.404);
  background: rgba(10, 10, 10, 0.5);
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  color: #fff;
}
.search_field input[type='text']:focus {
  border: solid 1px rgb(149,0,255,1);
}